.favorites-container{

width:800px;
margin:auto;
padding:30px;

}

table{

width:100%;
border-collapse:collapse;
margin-bottom:30px;

}

th,td{

border:1px solid #ddd;
padding:10px;
text-align:center;

}

th{

background:#2196f3;
color:white;

}

button{

background:red;
color:white;
border:none;
padding:6px 10px;
border-radius:5px;
cursor:pointer;

}