<div class="app-container">

  <!-- 🗺 MAP -->
  <div id="map"></div>
  <canvas id="rain-canvas"></canvas>

  <!-- ☰ MENU BUTTON -->
  <div class="menu-btn" (click)="toggleMenu()">
  Weather Maps
  <span style="float:right"></span>

  <!-- 👇 SAME PANEL INSIDE BUTTON -->
  <div class="floating-panel" *ngIf="menuOpen" (click)="$event.stopPropagation()">

    <div class="panel-content">
      <ul>
       <li (click)="setLayer('clouds')">
  <img src="satellite.png" width="18">
  Satellite
</li>

<li (click)="setLayer('rain')">
  <img src="radar (1).png" width="18">
  Radar
</li>

<li (click)="setLayer('wind')">
  <img src="storm.png" width="18">
  Speed
</li>

<li (click)="setLayer('temp')">
  <img src="temprature (1).png" width="18">
  Temprature
</li>

<li (click)="setLayer('humidity')">
  <img src="humidity.png" width="18">
  Humidity
</li>

<li (click)="setLayer('pressure')">
  <img src="barometer (1).png" width="18">
  Pressure
</li>
      </ul>
    </div>

  </div>
</div>
  <!-- 🔍 SEARCH BUTTON -->

  <!-- RIGHT SIDE SEARCH PANEL -->
  <!-- 🔍 SEARCH ICON -->
  <button class="search-btn" (click)="toggleSearch()">
    🔍
  </button>
  <div class="search-panel" [class.open]="isSearchOpen">

    <div class="search-header">
      <h3>Search</h3>
      <span (click)="toggleSearch()">✖</span>
    </div>

    <div class="search-box">

  <input
    type="text"
    [(ngModel)]="city"
    (input)="onSearchChange()"
    placeholder="Search location..."
  />

  <!-- 🔥 Suggestions input niche -->
  <div 
    class="suggestions"
    *ngIf="city && city.length >= 3 && suggestions.length > 0"
  >
    <div 
      class="item"
      *ngFor="let place of suggestions"
      (click)="selectPlace(place)"
    >
      <b>{{place.display_name.split(',')[0]}}</b>
      <span>{{place.display_name}}</span>
    </div>
  </div>

</div>

<!-- 📍 below -->
<button class="location-btn" (click)="useCurrentLocation()">
  📍 Show Your Location
</button>

  </div>

  <!-- 🎚 SLIDER -->
  <!-- <div class="slider-box">
    <input type="range" min="0" max="4" [(ngModel)]="timeIndex" (input)="changeTime()">
  </div> -->

  <!-- 📊 RIGHT PANEL -->
  <!-- <div class="right-panel" *ngIf="weatherData">
    <h2>{{weatherData.city}}</h2>
    <p class="big-temp">{{weatherData.temperature}} °C</p>
    <p class="desc">{{weatherData.description}}</p>

    <div class="info">
      <p>💧 {{weatherData.humidity}}%</p>
      <p>🌬 {{weatherData.windSpeed}} m/s</p>
      <p>📍 {{weatherData.latitude}}, {{weatherData.longitude}}</p>
    </div> -->

    <!-- <button (click)="addFavorite()" class="fav-btn">
      ⭐ Add Favorite
    </button>
  </div> -->

</div>